services:
  datomic-storage:
    image: postgres:17
    environment:
      POSTGRES_USER: blog
      POSTGRES_PASSWORD: blog001!
      POSTGRES_DB: blog
    volumes:
      - ./postgres-db.sql:/docker-entrypoint-initdb.d/postgres-db.sql:ro
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U blog"]
      interval: 10s
      timeout: 5s
      retries: 5

  datomic-transactor:
    image: datomic/datomic-pro
    depends_on:
      datomic-storage:
        condition: service_healthy
    volumes:
      - ./transactor.properties:/opt/datomic/config/transactor.properties:ro
    ports:
      - "4334:4334"
    command: ["bin/transactor", "config/transactor.properties"]
    healthcheck:
      # Verify if transaction port is accepting connections
      test: ["CMD", "nc", "-z", "localhost", "4334"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s
  
  clj-blog:
    build: .
    hostname: blog
    environment:
      DB_URI: datomic:sql://blog?jdbc:postgresql://datomic-storage:5432/datomic?user=blog&password=blog001%21
      ADMIN_LOGIN: admin
      ADMIN_PASSWORD: admin135!
    depends_on:
      datomic-transactor:
        condition: service_healthy

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - clj-blog

networks:
  default:
    driver: bridge
    name: blog-network
    
