services:
  datomic-storage:
    image: postgres:17
    hostname: storage
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgres-db.sql:/docker-entrypoint-initdb.d/postgres-db.sql:ro
    ports:
      - "5430:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U blog"]
      interval: 10s
      timeout: 5s
      retries: 5

  datomic-transactor:
    build:
      context: .
      dockerfile: Dockerfile.transactor
    hostname: transactor
    depends_on:
      datomic-storage:
        condition: service_healthy
    volumes:
      - ./transactor.properties:/opt/datomic/datomic/config/transactor.properties:ro
    ports:
      - "4334:4334"
    command: ["config/transactor.properties"]
    #healthcheck:
      # Verify if transaction port is accepting connections
    #  test: ["CMD", "nc", "-z", "localhost", "4334"]
    #  interval: 10s
    #  timeout: 5s
    #  retries: 5
    #  start_period: 45s
  
  clj-blog:
    build:
      context: .
      dockerfile: Dockerfile.app
      args:
        DATOMIC_USER: ${DATOMIC_USERNAME}
        DATOMIC_PASSWORD: ${DATOMIC_PASSWORD}
    hostname: blog
    environment:
      DB_URI: "datomic:sql://${POSTGRES_DB}?jdbc:postgresql://storage:5432/${POSTGRES_DB}?user=${POSTGRES_USER}&password=${POSTGRES_PASSWORD}"
      ADMIN_LOGIN: ${ADMIN_LOGIN}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    #depends_on:
    #  datomic-transactor:
    #    condition: service_healthy

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - clj-blog

networks:
  default:
    driver: bridge
    name: blog-network
    
