protocol=sql
host=localhost
port=4334
sql-url=jdbc:postgresql://storage:5432/.env_postgres_db?user=.env_postgres_db&password=.env_postgres_password
sql-driver-class=org.postgresql.Driver
license-key=put_your_license_here
memory-index-threshold=32m
memory-index-max=256m
object-cache-max=128m
data-dir=/opt/datomic/data
log-dir=/opt/datomic/log